<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <div>
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{% url 'home' %}">Fault Finder</a>



        {% if not project_view %}

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>





        {% endif %}

    </div>

    
    {% if  project_view %}
        

        

    
    <div id="project-view-link" class="text-white d-flex gap-5 ">
        <a class="nav-link" href="{% url 'dashboard' project.id %}">Dashboard</a>
        <a class="nav-link" href="{% url 'bugs-data' project.id %}">Bugs</a>

    </div>

    {% endif %}

    <div>



        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><img class="object-fit-cover rounded-circle"
                        src="{{user.profile.profile_picture.url}}" alt="">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <div>
                        <li><a class="dropdown-item" href="{% url 'user-profile' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    </div>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" hx-boost="false" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>