{% extends 'base.html' %}



{% block title %}
{{project.title}}
{% endblock title %}


    


{% block content %}

<div id="tabs" hx-target="#tab-contents" _="on htmx:afterOnLoad take .selected for event.target">
	<a hx-get="{% url 'dashboard-data' project.id %}" class="selected">Dashboard</a>
	<a hx-get="{% url 'bugs-data' project.id %}">Bugs</a>
	<a hx-get="#">Reports</a>
</div>

<div id="tab-contents" hx-get="{% url 'dashboard-data' project.id %}" hx-trigger="load"></div>

{% endblock content %}
    
    

