{% extends 'base.html' %}

{% block title %}projects{% endblock %}



{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex">
            <div>
                <i class="fas fa-table me-1"></i>
                Projects
            </div>

            <div class="ms-auto">
                <a href="{% url 'add-project' %}" class="btn-sm btn-primary rounded">
                    <i class="fa-solid fa-square-plus"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Owner</th>
                    <th>Created date</th>
                    <th>Updated date</th>
                    <th>Updated by</th>
                    <th>End date</th>
                </tr>
            </thead>

            <tbody>



                {% for project in projects %}

                <tr>
                    <td>{{project.id}}</td>
                    <td><a href="{% url 'dashboard' project.id %}" title="go to project">{{project.title}}</a></td>
                    <td>{{project.owner}}</td>
                    <td>{{project.created_date}}</td>
                    <td>{{project.updated_date}}</td>
                    <td>{{project.updated_by}}</td>
                    <td>{{project.end_date}}</td>
                </tr>

                {% endfor %}




            </tbody>
            
        </table>
        {% if projects.has_other_pages %}
        <div class="btn-group" role="group" aria-label="Item pagination">
            {% if projects.has_previous %}
                <a href="?page={{ projects.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}
    
            {% for page_number in projects.paginator.page_range %}
                {% if projects.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
    
            {% if projects.has_next %}
                <a href="?page={{ projects.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    
    </div>
</div>
{% endblock %}