<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}base{% endblock %}</title>


    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/htmx.min.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

    <link href="{% static 'css/styles.css' %} " rel="stylesheet">



</head>


{% if authentication %}

<body>

    {% block auth_content %}

    {% endblock auth_content %}

</body>
{% else %}




<body class="sb-nav-fixed">


    {% include 'partials/_navbar.html' %}
    <div id="layoutSidenav">

        {% include 'partials/_sidebar.html' %}

        <div id="layoutSidenav_content">
            <main id="main">
                {% block content %}{% endblock %}
            </main>
            <footer class="py-4  mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Fault Finder 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



</body>

{% endif %}





</html>